@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./scss/fonts";

.app-bg {
  background: #0E1B0D;
}

.app-accent {
  background: #AA1D27;
}

.app-bg-light{
  background: #226737;
}