@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./scss/fonts";
@import "./scss/scrollbar";

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button:focus { outline:0 !important; }

.black-shadow {
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.3), -15px -15px 30px rgba(0, 0, 0, 0.3) !important;
}