//@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,600&family=Play:wght@400;700&family=Roboto:wght@300;400;500;700&family=Ubuntu+Mono&display=swap');

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font-play {
    font-family: 'Play', sans-serif;
}

.font-ubuntu-mono {
    font-family: 'Ubuntu Mono', monospace;
}

@font-face {
    font-family: 'Bowler';
    src: url('@assets/fonts/bowler.ttf') format('truetype');
}

.font-bowler {
    font-family: 'Bowler', 'sans-serif';
}
